@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

:root{
  --navy-blue: rgba(29, 59, 95, 1);
  --header: rgba(242, 236, 253, 0.5);
}

.toggle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 28px;
    background-color: rgba(144, 128, 174, 0.5);
    border: none;
    border-radius: 16px;
    margin-top: -40px;
    color: var(--navy-blue);
    font-weight: 600;
}
