@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

:root{
  --navy-blue: rgba(29, 59, 95, 1);
  --header: rgba(242, 236, 253, 0.5);
  --navbar-bg: rgba(235, 241, 255, 1);
  --grey: rgba(58, 58, 58, 1);
  --daily-log: rgba(249, 248, 255, 1);
}

/* Making sure the elements order in the style sheets follow that of the html
to ensure proper functionality and accessibility */


/* Log Summary Header */

.log-summary-header{
    top: 0;
    right: 0;
    position: fixed;
    background-color: var(--header) ;
    width: 100%;  
}

.log-summary-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-log-arrow-img{
    color: var(--navy-blue);
    width: 12px;
    margin-left: 24px;
}

.log-summary-h1{
    color: var(--navy-blue);
    font-weight: 600;
    font-size: 24px;
    margin-right: 16px;
}

/* Log Summary Content */

.log-summary-content{
    margin-top: 72px;
}

.log-summary-h2{
    color: var(--navy-blue);
    font-size: 20px;
}

.logs{
    margin-top: 40px;
}

.log-date{
    background-color: var(--header);
    padding: 2px 16px 2px 16px;
}

.logs-h2{
    color: var(--navy-blue);
    font-weight: 400;
    font-size: 20px;
}

.log-details-link{
    text-decoration: none;
}

.log-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    border: 1px solid var(--navy-blue);
    padding: 2px 16px 2px 16px;
}

.log-details-h2{
    color: var(--navy-blue);
    font-weight: 400;
    font-size: 20px;
}

.edit-log-arrow{
    color: var(--navy-blue);
    width: 12px;
}
