@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

:root{
  --navy-blue: rgba(29, 59, 95, 1);
  --header: rgba(242, 236, 253, 0.5);
  --popup: rgba(242, 236, 253, 1);
}

/* Making sure the elements order in the style sheets follow that of the html
to ensure proper functionality and accessibility */

.cancel-daily-log-h1{
    color: var(--navy-blue);
    font-size: 20px;
    margin-left: 16px;
}

.log-cancel-popup-container{
    height: 100vh;
}

.log-cancel-popup{
    position: absolute;
    background-color: var(--popup);
    border: 1.5px solid var(--navy-blue);
    border-radius: 32px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 196px;
    margin-left: -112px;
    padding: 40px;
    width: 73%;
}

.log-cancel-popup-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-cancel-popup-h1{
    color: var(--navy-blue);
    font-size: 32px;
    text-align: center;
}

.log-cancel-popup-p{
    font-size: 20px;
    color: var(--navy-blue);
    text-align: center;
    margin-top: -8px;
}

.log-cancel-popup-close-link{
    text-decoration: none;
}

.log-cancel-popup-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navy-blue);
    border: none;
    border-radius: 40px;
    width: 156px;
    height: 56px;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 16px;
}