@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

:root{
  --navy-blue: rgba(29, 59, 95, 1);
  --header: rgba(242, 236, 253, 0.5);
  --navbar-bg: rgba(235, 241, 255, 1);
}

/* Making sure the elements order in the style sheets follow that of the html
to ensure proper functionality and accessibility */

.navbar-container{
    width: 100%;
    height: 72px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    background-color: var(--navbar-bg);
    padding: 0 8px 8px 8px;
}

.navbar-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    padding: 8px;
   
}

.nav-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-h1{
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
}

.navbar-daily-log{
    margin-top: -32px;
}

.nav-log-icon{
    width: 72px;
}