@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #ffffffde;
  background: linear-gradient(to top, #ece0d2, #ece0d2,  #cdcfec, #a3b7d0);
  background-repeat: no-repeat;
  height: 100%;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}


